@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    width: 1440px;
}
/*------------------header----------------------*/

header{
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EFF0F3;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}
.dasteen-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 95px;
}
header div h1{
    color: #001858;
    font-family: "Plus Jakarta Sans", serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
header div span{
    color: #6246EA;
    font-family: "Plus Jakarta Sans", serif;
    font-size: 18px;
    font-weight: 700;
}
header ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    margin-right: 95px;
}
header ul li a{
    color: #2B2C34;
    /* 20 px - Sub Heading 2 */
    font-family: "Plus Jakarta Sans", serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
header ul li svg{
    width: 17px;
    height: 17px;
    margin-right: 10px;
}
header ul li button{
    display: flex;
    padding: 10px 17px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #6246EA;
    color: #FFFFFE;
    font-family: "Plus Jakarta Sans", serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}
header ul li button svg{
    width: 24px;
    height: 24px;
}

/*------------------section registration----------------------*/

.registration{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 164px;
}
.registration div h2{
    width: 617px;
    color: #2B2C34;
    /* 64 px - Heading 1 */
    font-family: "Plus Jakarta Sans", serif;
    font-size: 64px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.registration div p{
    width: 652px;
    color: #9A9494;
    /* 20 px - Paragraph 1 */
    font-family: "Plus Jakarta Sans", serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}
.gray-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3px;
    height: 56px;
    background: #2B2C34;
    margin: 0 12px 30px 0;
}
input[type="email"]{
    appearance: none;
    padding: 21px 200px 21px 25px;
    border: none;
    color: #C0C0C0;
    /* 20 px - Paragraph 1 */
    font-family: "Plus Jakarta Sans", serif;
    font-size: 20px;
    font-weight: 400;
    border-radius: 8px;
    background: #FFFFFE;
}
input[type="submit"]{
    appearance: none;
    height: 67px;
    padding: 20px 23px 19px 23px;
    margin-left: 20px;
    border-radius: 8px;
    background: #6246EA;
    color: #FFFFFE;
    /* 20 px - Sub Heading 2 */
    font-family: "Plus Jakarta Sans", serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    border: none;
}
section img{
    margin-left: 116px;
}

/*------------------section category----------------------*/

.category{
    margin: 345px 0 68px 0;
}
.category .header-category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 101px 50px 94px;
}
.category div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.category .header-category h3{
    color: #2B2C34;
    /* 24 px - Sub heading 1 */
    font-family: "Plus Jakarta Sans", serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.category .header-category div p{
    color: #2B2C34;
    text-align: right;
    /* 20 px - Sub Heading 2 */
    font-family: "Plus Jakarta Sans", serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.category .header-category div svg{
    width: 6px;
    height: 14px;
    flex-shrink: 0;
    margin: 5px 0 0 12px;
    color: #2B2C34;
    text-align: right;

    /* 20 px - Sub Heading 2 */
    font-family: "Plus Jakarta Sans", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.category ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 37px;
}
.category-card{
    width: 220px;
    height: 280px;
    border-radius: 8px;
    /* For White Background */
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}
.category-card p{
    color: #2B2C34;
    /* 24 px - Sub heading 1 */
    font-family: "Plus Jakarta Sans", serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    margin-left: 30px;
}
.category-card svg{
    width: 33px;
    height: 37px;
    flex-shrink: 0;
}
.category-card div{
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFFFFE;
    margin: 77px 144px 30px 43px;
}
.category-card:hover{
    border-radius: 8px;
    background: #6246EA;

}
.category-card:hover p{
    color: #FFFFFE;
}

/*------------------section article----------------------*/
.article-post{
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 80px;
}
.article{
    margin: 448px 0 0 94px;
    display: flex;
    width: 1252px;
    height: 35px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.card-post{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 16px;
}
.header-article{
    display: flex;
    width: 1252px;
    height: 35px;
    padding: 2px 0 3px 0;
    justify-content: center;
    align-items: flex-start;
    gap: 895px;
    flex-shrink: 0;
}
.art-link{
    display: flex;
    width: 159px;
    height: 25px;
    flex-shrink: 0;
}
.header-article h4{
    color: #2B2C34;
    /* 24 px - Sub heading 1 */
    font-family: "Plus Jakarta Sans", serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.art-link p{
    color: #2B2C34;
    text-align: right;
    /* 20 px - Sub Heading 2 */
    font-family: "Plus Jakarta Sans", serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.art-link svg{
    width: 6px;
    height: 14px;
    flex-shrink: 0;
    margin: 9px 0 0 12px;
    color: #2B2C34;
    text-align: right;

    /* 20 px - Sub Heading 2 */
    font-family: "Plus Jakarta Sans", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.card-post{
    display: flex;
    width: 1252px;
    height: 490px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.article-card{
    display: flex;
    width: 260px;
    height: 385px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
}
.article-title{
    width: 260px;
    height: 273px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}
.article-title img{
    width: 260px;
    height: 198px;
    border-radius: 13px;
    background: url(photo/fundament-js.png) lightgray 50% / cover no-repeat;
    margin: 0;
}
.article-title h5{
    width: 260px;
    color: #2B2C34;
    /* 20 px - Sub Heading 2 */
    font-family: "Plus Jakarta Sans", serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.author{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.author img{
    width: 57px;
    height: 57px;
    border-radius: 57px;
    background: url(photo/author.png) lightgray 50% / cover no-repeat;
    margin: 0;
}
.author-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}
.author-info h6{
    color: #2B2C34;
    /* 16 px - Paragraph 3 Semi bold */
    font-family: "Plus Jakarta Sans", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.author-info p{
    width: 184px;
    height: 21px;
    color: #2B2C34;
    /* 14 px - Paragraph 4 */
    font-family: "Plus Jakarta Sans", serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.header-article-css{
    display: flex;
    width: 1252px;
    height: 35px;
    padding: 2px 0 3px 0;
    justify-content: center;
    align-items: flex-start;
    gap: 1043px;
    flex-shrink: 0;
    margin-top: 80px;
}
.header-article-css h4{
    color: #2B2C34;
    /* 24 px - Sub heading 1 */
    font-family: "Plus Jakarta Sans", serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.header-article-js{
    display: flex;
    width: 1252px;
    height: 35px;
    padding: 2px 0 3px 0;
    justify-content: center;
    align-items: flex-start;
    gap: 975px;
    flex-shrink: 0;
    margin-top: 80px;
}
.header-article-js h4{
    color: #2B2C34;
    /* 24 px - Sub heading 1 */
    font-family: "Plus Jakarta Sans", serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.header-article-react{
    display: flex;
    width: 1252px;
    height: 35px;
    padding: 2px 0 3px 0;
    justify-content: center;
    align-items: flex-start;
    gap: 985px;
    flex-shrink: 0;
    margin-top: 80px;
}
.header-article-react h4{
    color: #2B2C34;
    /* 24 px - Sub heading 1 */
    font-family: "Plus Jakarta Sans", serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.button-art{
    display: flex;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #6246EA;
    color: #FFFFFE;

    /* 20 px - Sub Heading 2 */
    font-family: "Plus Jakarta Sans", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 80px;
}